@import "constant.less";

body {
    background-color: @grey3;
    padding-top: 60px;
}

.page-title {
    border-bottom: 1px solid #abb2ba;
    margin-top: 0;
}

.section-title {
    border-bottom: 1px solid @grey3;
    padding-bottom: 10px;
}

.flag {
    background: url(../Content/flags.png) no-repeat;
    display: inline-block;
    height: 15px;
    margin-bottom: -2px;
    margin-right: 6px;
    width: 25px;
}

.flag.flag-fr {
    background-position: -25px 0;
}

.flag.flag-gb {
    background-position: 0 -15px;
}

.dropdown-menu li.current {
    text-decoration: underline;
}
