<div id="pictureCroppingModal" class="modal fade">
    <div ng-controller="pictureCroppingController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Resource.Action_ContactMe</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="file" id="picture-input">
                    <img id="crop-target" alt="[Jcrop Example]" />
                    <div id="crop-preview">
                        <div class="crop-preview-container">
                            <img id="crop-img" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">@Resource.Action_Cancel</button>
                    <button class="btn btn-primary">@Resource.Action_Send</button>
                </div>
            </div>
        </div>
    </div>
</div>