<div ng-controller="MenuCtrl">
    <p style="color: white">{{ userName }}</p>
    <ul class="nav menu-element">
        <li ng-class="getClass('/')">
            <a href="#!/"><i class="fa fa-home"></i>@Resource.Application_Home</a>
        </li>
        <li ng-class="getClass('/account')">
            <a href="#!/account"><i class="fa fa-cog"></i>@Resource.Application_Account</a>
        </li>
        <li ng-class="getClass('/users')">
            <a href="#!/users"><i class="fa fa-users"></i>@Resource.Application_Users</a>
        </li>
        <li ng-class="getClass('/rooms')">
            <a href="#!/rooms"><i class="fa fa-comments"></i>@Resource.Application_ChatRooms</a>
        </li>
    </ul>
</div>