<div ng-controller="MenuCtrl">
    <p style="color: white">{{ userName }}</p>
    <ul class="nav menu-element">
        <li ng-class="getClass('/')">
            <a href="#!/">
                <i class="fa fa-home"></i>
                @Resource.Home
            </a>
        </li>
        <li ng-class="getClass('/account')">
            <a href="#!/account">
                <i class="fa fa-user"></i>
                @Resource.Account
            </a>
        </li>
    </ul>
</div>