<div id="connection">
    <h1 class="account-title">@Resource.SignInNow</h1>
    <div class="account-content">
        <input type="text" class="form-control" placeholder="@Resource.Email">
        <br />
        <input type="text" class="form-control" placeholder="@Resource.Password">
        <button class="btn btn-block account-button" type="submit">
            <i class="fa fa-lock"></i>
            @Html.ActionLink(Resource.SignIn, "ValidateConnection")
        </button>
    </div>
</div>