<div id="registration">
    <h1 class="account-title">Sign in now</h1>
    <div class="account-content">
        <input type="text" class="form-control" placeholder="User ID">
        <br />
        <input type="text" class="form-control" placeholder="Password">
        <button class="btn btn-block account-button" type="submit">
            <i class="fa fa-lock"></i>
            @Html.ActionLink("SIGN IN", "ValidateRegistration")
        </button>
    </div>
</div>