<div ng-controller="MenuCtrl">
    <div class="col-sm-3 col-md-2 menu-sidebar">
        <p style="color: white">--{{ userName }}--</p>
        <ul class="nav menu-element">
            <li class="active"><a href="#"><i class="fa fa-home"></i>{{ home }}</a></li>
            <li><a href="#"><i class="fa fa-user"></i>{{ profile }}</a></li>
        </ul>
    </div>
</div>