<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        Welcome
        @Html.ActionLink("create account", "Registration", "Account")
        @Html.ActionLink("connect", "Connection", "Account")
    </div>
</body>
</html>