<div id="page" class="container-fluid">
    <div id="header">
        @Html.Partial("_Header")
    </div>
    <div id="menu">
        @Html.Partial("_Menu")
    </div>
    <div id="content">
        @Html.Partial("_Content")
    </div>
</div>