<h1 class="page-title">@Resource.Account</h1>

@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label for="en">
                    <input name="culture" id="en" value="en" type="radio" @(CultureHelper.IsCurrent("en") ? "checked" : "") />
                    <span class="flag flag-gb"></span>English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input name="culture" id="fr" value="fr" type="radio" @(CultureHelper.IsCurrent("fr") ? "checked" : "") />
                    <span class="flag flag-fr"></span>Français
                </label>
            </div>
        </div>
    </fieldset>
    <input type="submit" value="Submit" />
}