<div id="chatRoomsContent">
    <h1 class="page-title">@Resource.Common_ChatRooms</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="chatRoom in chatRooms" ng-class="{ active: isActive(chatRoom)}" ng-click="changeChatRoom(chatRoom)">
                    {{ chatRoom.Title }}
                    <span class="badge">{{ chatRoom.Participants }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="chat-area">
                <div ng-repeat="message in messages">
                    <p>{{ message.user }} : {{ message.message }}</p>
                </div>
            </div>
            <form>
                <div class="input-group">
                    <input class="form-control" ng-model="newMessage">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="sendMessageToChatRoom()">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>