<div id="chat">
    <h1 class="page-title">@Resource.Application_ChatRooms</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="chatRoom in chatRooms">{{ chatRoom.Title }}
                <span class="badge">14</span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="chat-area">
                <div ng-repeat="message in messages">
                    <p>{{ message.message }}</p>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="send()">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>