<div id="homeContent">
    <h1 class="page-title">@Resource.Common_Home</h1>

    <style type="text/css">
        .jcrop-holder #crop-preview {
            display: block;
            position: absolute;
            z-index: 2000;
            top: 10px;
            right: -280px;
            padding: 6px;
            border: 1px rgba(0,0,0,.4) solid;
            background-color: white;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }

        #crop-preview .crop-preview-container {
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        var $preview = $('#crop-preview');
        var $previewContainer = $('#crop-preview .crop-preview-container');
        var $previewImage = $('#crop-preview .crop-preview-container img');
        var sizeX = $previewContainer.width();
        var sizeY = $previewContainer.height();
        var jcropApi;
        var boundX;
        var boundY;

        function updatePreview(crop) {
            if (parseInt(crop.w) > 0) {
                var rx = sizeX / crop.w;
                var ry = sizeY / crop.h;

                $previewImage.css({
                    width: Math.round(rx * boundX) + 'px',
                    height: Math.round(ry * boundY) + 'px',
                    marginLeft: '-' + Math.round(rx * crop.x) + 'px',
                    marginTop: '-' + Math.round(ry * crop.y) + 'px'
                });
            }
        }

        function setPreview() {
            jcropApi = this;
            var bounds = jcropApi.getBounds();
            boundX = bounds[0];
            boundY = bounds[1];
            $preview.appendTo(jcropApi.ui.holder);
        }

        function setAAA() {
            $('#crop-target').Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: sizeX / sizeY
            }, setPreview);
        }

        document.getElementById('picture-input').onchange = function (event) {
            var target = event.target || window.event.srcElement;
            var files = target.files;

            if (FileReader && files && files.length) {
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    document.getElementById('crop-target').src = fileReader.result;
                    document.getElementById('crop-img').src = fileReader.result;
                    setAAA();
                    jcropApi.setImage(fileReader.result);
                }
                fileReader.readAsDataURL(files[0]);
            }
        };
    </script>

    <input type="file" id="picture-input" />
    <img id="crop-target" alt="[Jcrop Example]" />
    <div id="crop-preview">
        <div class="crop-preview-container">
            <img id="crop-img" class="jcrop-preview" alt="Preview" />
        </div>
    </div>
</div>